extends layout

block content
  h1= message
  case error.status
    when 404
        div(id='error')
            span(class='icon icon-404')
    when 500
        div(id='error')
            span(class='icon icon-500')
    default
        div(id='error')
            span(class='icon')
    
  pre(style='text-align: left') #{error.stack} 
