extends layout

block content
  h1= title
  img(src= "/img/node_js_logo.svg")
  div(id='routes')
    div(class='square')
        a(href='/roles' class='element') Roles
        a(href='/roles' class='element')
            img(class='image' src='/img/key.png')    
    div(class='square')
        a(href='/usuarios' class='element') Usuarios
        a(href='/usuarios' class='element')
            img(class='image' src='/img/user.png')
    div(class='square')
        a(href='/departamentos' class='element') Departamentos
        a(href='/departamentos' class='element')
            img(class='image' src='/img/guatemala.png')
    div(class='square')
        a(href='/lugaresturisticos' class='element') Lugares turísticos
        a(href='/lugaresturisticos' class='element')
            img(class='image' src='/img/camera.png')
    div(class='square')
        a(href='/hoteles' class='element') Hoteles
        a(href='/hoteles' class='element')
            img(class='image' src='/img/hotel.png')
    div(class='square')
        a(href='/tiposhabitacion' class='element') Tipos de habitación
        a(href='/tiposhabitacion' class='element')
            img(class='image' src='/img/room.png')
    div(class='square')
        a(href='/reservaciones' class='element') Reservaciones
        a(href='/reservaciones' class='element')
            img(class='image' src='/img/hand.png')
    div(class='square')
        a(href='/estancias' class='element') Estancias
        a(href='/estancias' class='element')
            img(class='image' src='/img/sleeping.png')
    div(class='square')
        a(href='/facturas' class='element') Facturas
        a(href='/facturas' class='element')
            img(class='image' src='/img/receipt.png')
