doctype html
html
  head
    title= title
    link(rel='shorcut icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/errors.css')
  body
    block content