#error {
  padding-top: 25px;
  text-align: center;
}
#error .icon {
  background: url(/img/errors.png) no-repeat;
  background-size: 200px 1000px;
  display: block;
  margin: 0 auto 50px;
  height: 130px;
  width: 200px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  #error .icon {
    background-image: url(/img/errors@2x.png);
  }
}
#error .icon.icon-403 {
  background-position: 0 -275px;
}
#error .icon.icon-404 {
  background-position: 0 -414px;
}
#error .icon.icon-500 {
  background-position: 0 -550px;
}
#error h1 {
  font-size: 20px;
}
#error p.status {
  margin-top: 2em;
}
#error pre > code {
  display: inline-block;
}
.icon.icon-redring {
  height: 240px;
  width: 200px;
}