body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

#routes {
	margin-top: 10px;
	
}

.element {
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	display: block;
}

.image {
	width: 70%;
}

.square {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-table; 
    align: center; 
    width: 23%; 
    height: 250px;
    border-style: dashed; 
    border-width: thin; 
    border-color: cadetblue;
    float: left;
    text-align: center;
}